/*头部返回键和标题*/
.list_header {height: 48px;line-height: 48px;min-width: 240px;background: #6684ed;color: #fff;font-size: 18px;text-align: center;position: fixed;top: 0;left: 0;right: 0;z-index: 1;padding: 0 15px;}
.back_icon{position: absolute;top: 6px;left: 10px;color: #fff;padding: 5px;font-size: 1rem;height: 25px;display: inline-block;text-decoration: none;cursor: auto;line-height: 25px;}
.nav_title {max-width: 220px;white-space: nowrap;display: inline-block;font-size: 1.1rem;margin:0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-margin-before: 0.83em;-webkit-margin-after: 0.83em;-webkit-margin-start: 0;-webkit-margin-end: 0;font-weight: bold;}

.ships_tab {position: relative;display: block;}
/*显示用户已选择面板*/
.user_tab{background-color:#6684ed;color:#fff;font-size: 16px;display: block;height: 30px;line-height: 30px;padding:0 15px;}
.s_location{width: 20%;float: left;}
.s_date{width: 80%;float: right;text-align: center;}
/*船列表*/
.ship_list_tab{border-color: transparent;border-width: 0;overflow: hidden;width: 100%;height: 100%;border-style: solid;padding: 10px;}
.ship_tips{width: 50%;display: list-item;text-align: -webkit-match-parent;padding: 0;border: none;overflow: auto;zoom: 1;overflow-x: hidden;overflow-y: hidden;line-height: 140%;float: left;margin: auto;}
.img{height:145px;margin: 0;text-align: center;}
.img>img{height: 145px;width: 145px;display: inline;margin: 0;}
.ship_info{text-align: center;height: 67px;padding:0 3px 0 6px;}

/*船信息*/
.bottom_tab{height: 60px;line-height: 60px;min-width: 240px;background: #6684ed;color: #fff;font-size: 18px;text-align: center;position: fixed;bottom: 0;left: 0;right: 0;z-index: 1;padding: 0 15px;}
.ships_tab>img{width: 100%;height: 30%}
.ship_info{padding: 10px 15px;background-color: #fff;color: #666;margin-top: 10px;}
.tips{margin-bottom: 60px;}

/*提交订单*/

/*提交订单页面*/
/*订单信息*/
.alert-info{margin: 10px;height: 120px;text-align: center; }
.alert-info .shipid{font-size: 20px}
.alert-info .route{font-size: 24px;}
/*出行人信息*/
.jumbotron{margin: 10px;}
/*保险注意事项等模块*/
.tips_tab{position: fixed;bottom: 65px;}
/*提交订单按钮*/
.order-submit {height: 62px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;background: #f3f3f3;border-top: 1px solid #dadada;padding: 10px 12px;line-height: 40px;position: fixed;width: 100%;left: 0;bottom: 0;}
.order-submit-fixed {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;background: #f3f3f3;border-top: 1px solid #dadada;padding: 10px 12px;line-height: 40px;position: fixed;width: 100%;left: 0;bottom: 0; }
.order-submit-c1 {font-size: 15px;line-height: 40px; }
.order-submit-c1 .text-important {font-size: 20px; }
.order-submit .btn {font-size: 20px;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;display: block;margin-left: 20px;height: 40px;line-height: 30px; }